header{
    position: sticky;
    top: 0;
    z-index: 999999999999;
    background-color: white;
    width: 100%;

}
.container-header {
    max-width: 1440px;
    width: 100%;
    height: 96px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.header-menu{
    display: flex;
    gap: 24px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #000000;
}
.nav-li{
    color: #000000;
    font-size: 16px;
}
.nav-menu{
    width: 100px;
    height: 48px;
    background-color: Black;
    border-radius: 32px;
    text-align: center;
    padding-top: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #F3F3F3;

}
/* section1 */
.container-main{
    max-width: 1440px;
    width: 100%;
    height: 556px;
    display: flex;
    column-gap: 130px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}


.container-section1{
    width: 490px;
    height: 288px;
    margin-top: 134px;
}
.wraper1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #000000;
    font-size: 56px;
    
}
.wraper2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #000000;
    margin-top: 24px;

}
.small-box{
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
    align-items: center;
}
.wraper-par{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    font-size: 14px;
    
}

.container-image1 {
    background-image: url(../images/img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 490px;
    height: 428px;
    margin-top: 64px;
}
/* section 2 */
.section2{
    background-color: #F3F3F3;
    width: 100%;
}

.container-box2{
    max-width: 1440px;
    width: 100%;
    height: 245px;
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding:64px 120px 64px 150px ;
    

}
.small-box1{
    width: 360px;
    height: 116.2px;
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 16px;

}

.small-p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}
.box-about{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 14px;
    width: 335.35px;
    height: 60.2px;
    line-height: 24px;
}
/* section3 */
.section3 {
    background-color: #000000;
    width: 100%;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container2 {
    max-width: 1440px;
    height: 428px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60px;
    padding: 0 165px;
}

.section3-image {
    width: 503.5px;
    min-width: 503.5px;
    height: 428px;
    flex-shrink: 0;
    border-radius: 12px;
    background-image: url(../images/secondSectionImg-Wide-1440px+.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-about {
    width: 503.5px;
    height: 428px;
    height: auto;
    padding-top: 0;
}
.section-about .wraper2{
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.wraper-parag{
    font-size: 16px;
    color: #FFFFFF;
    width: 504px;
    margin-bottom: 16px;
}
.parag2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
/* section4 */



.background-image{
    background-image: url(../images/CTAImg-Desktop-1440px.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 564px;
    position: relative;
}
   


.wraper-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box-wrap1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 10px;

}
.box-wrap2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 10px;
    width: 540px;
    height: 96px;
}
.box-wrap3{
    width: 84px;
    height: 40px;
    text-align: center;
    background-color: #F3F3F3;
    border-radius: 24px;
    margin: 0 auto;
    padding-top: 8px;
}
.box-text{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;
     color: #000000;
     font-size: 16px;
    
}
/* footer */
footer{
    width:100%;
    min-height: 336px;
    height: auto;
    background-color: #000000;
}

.footer-box{
    max-width: 1140px;
    width: 100%;
    height: 144px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 96px;
}

.footer-box2{
    width: 210.6px;
    height: 144px;
    padding-top: 60px;
}

.box3{
    margin-left: 210px;
}
.foot-name{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:#FFFFFF;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 16px;
}

.foot-name2{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:#FFFFFF;
    font-size: 14px;
    margin-bottom: 8px;
    display: inline-block;
    margin-bottom: 8px;


}
.foot-name3{
    opacity: 0.4;
}
/* resolutuion */
@media (max-width:1024px) {
    .container-section1 {
        width: 100%;
        height: auto;
        margin-top: 0;
        text-align: center;
        padding-left: 165px;
    }

    .wraper1 {
       
        width: 630px;
        height: 120px;
        
    }

    .wraper2 {
        width: 630px;
        height: 56px;
    
    }
    .small-box {
        width: fit-content;
        margin: 0 auto;
        padding-right: 0;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }
    .container-main{
        flex-direction: column;
        row-gap: 68px;
        max-width: 1024px;
        width: 100%;
        height: 862px;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        padding: 0 32px;
    
    }

    .container-image1{
        width: 960px;
        height: 450px;
        align-self: center;
        object-position: 30% 20%;
        object-fit: cover;
        margin: 0 32px 32px 32px;
        
    }

    .container-box2 {
        max-width: 1024px;
        padding: 39px 32px;
        justify-content: space-between;
    }

    .container-box2 > div {
        flex: 1;
        max-width: 279.33px;
    }
    .section3-image{
        width: 100%;
        height: 450px;
    }
   
    .section3 {
        height: 895px;
    }

    .container2 {
        flex-direction: column;
        width: 960px;
        height: auto;
        padding: 64px 32px;
        column-gap: 0;
        row-gap: 32px;
    }

    .section3-image {
        width: 960px;
        min-width: 960px;
        height: 550px;
    }

    .section-about {
        width: 960px;
        height: 185px;
        display: flex;
        column-gap: 32px;
        align-items: flex-start;
    }

    .section-about .wraper2 {
        width: 415.5px;
        height: 96px;
        flex-shrink: 0;
        margin-bottom: 153px;
        margin-top: 0;
        padding-top: 0;

    }

    .text-block {
        width: 415.5px;
        height: 185px;
        padding-top: 30px;
    }

    .footer-box {
        max-width: 960px;
        width: 100%;
        height: 219px;
        padding: 45px 32px 0 32px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 80px;
        flex-wrap: wrap;
    }

    .box3 {
        margin-left: 0;
    }

    .footer-box2 {
        height: auto;
        padding-top: 0;
        width: auto;
    }
    .footer-box > div:first-child {
        width: 100%
    }
   
    .footer-box2:last-child {
        display: none;
    }
}

@media (max-width: 744px) {
    .container-main {
        max-width: 744px;
        height: 760px;
        padding: 0 24px;
        box-sizing: border-box;
    }

    .container-section1 {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wraper1 {
        width: 100%;
        height: auto;
        font-size: 40px;
        text-align: center;
    }

    .wraper2 {
        width: 100%;
        height: auto;
        margin-top: 24px;
    }

    .container-image1 {
        width: 100%;
        height: 499px;
        margin: 0;
    }

    .small-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 24px auto 0 auto;
        gap: 16px;
    }


    .section-about2{
        max-width: 744px;
        width: 100%;
        height: 414px;
    }
    .container-box2{
        flex-direction: column;
        row-gap: 20px;
    }
    .small-box1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 16px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    
}
   






